<ion-pane class="custom-background">
  <ion-header-bar class="bar-calm transparent">
    <a href="#/tab">
      <button class="icon icon-left ion-ios-arrow-back button button-clear"></button>
    </a>
    <h1 class="title">What is CF?</h1>
    <i class="icon icon-right ion-ios-lightbulb-outline button button-clear"></i>
  </ion-header-bar>
  <ion-content>
    <div class="cf-info">
      <img src="/img/cf.svg" alt="">
    </div>

    <div class="cf-info-text">
      <p>
        CF is a chronic disease in which defect copy of gene is transmitted from parents to child, one copy from each parent is inherited. It is a life shortening disease, currently there is no cure for it. The main areas affected by CF is lungs and digestive system but it can affect other parts such as liver, nose and sweat glands.
      </p>
    </div>



  </ion-content>

</ion-pane>