<ion-pane class="custom-background">
  <ion-header-bar class="bar-calm transparent">
    <button class="icon icon-left ion-android-home button button-clear"></button>
    <h1 class="title">Home Screen</h1>
  </ion-header-bar>
  <ion-content>
    <div class="cf-logo">
      <i class="ion-help-buoy"><h3>CF Assistant</h3></i>
    </div>

    <div class="cf-divider">
      <h3><i class="ion-ios-book"></i>Information</h3>
    </div>

    <a href="#/cf">
      <div class="rectangle rectangle-gradient">
        <div class="hm-button-icon">
          <i class="ion-ios-lightbulb-outline"></i>
        </div>
        <h4>What is Cystic Fibrosis?</h4>
      </div>
    </a>

    <a href="#/treatments">
      <div class="rectangle rectangle-gradient">
        <div class="hm-button-icon">
          <i class="ion-ios-medical-outline"></i>
        </div>
        <h4>Cystic Fibrosis Treatments</h4>
      </div>
    </a>

    <a href="#/recommendations">
      <div class="rectangle rectangle-gradient">
        <div class="hm-button-icon">
          <i class="ion-ios-pulse"></i>
        </div>
        <h4>Recommendations</h4>
      </div>
    </a>

    <div class="cf-divider">
      <h3><i class="ion-ios-compose"></i>Organize</h3>
    </div>

    <a href="#/meds">
      <div class="rectangle rectangle-gradient">
        <div class="hm-button-icon">
          <i class="ion-ios-medkit-outline"></i>
        </div>
        <h4>Your Medication</h4>
      </div>
    </a>

    <a href="#/appointments">
      <div class="rectangle rectangle-gradient">
        <div class="hm-button-icon">
          <i class="ion-ios-calendar-outline"></i>
        </div>
        <h4>Appointments</h4>
      </div>
    </a>

    <a href="#/contacts">
      <div class="rectangle rectangle-gradient">
        <div class="hm-button-icon">
          <i class="ion-ios-telephone-outline"></i>
        </div>
        <h4>Important Contacts</h4>
      </div>
    </a>

    <a href="#/tasks">
      <div class="rectangle rectangle-gradient">
        <div class="hm-button-icon">
          <i class="ion-ios-checkmark-empty"></i>
        </div>
        <h4>To Do List</h4>
      </div>
    </a>

  </ion-content>

</ion-pane>
