<ion-pane class="custom-background">
    <ion-header-bar class="bar-calm transparent">
        <a href="#/tab">
            <button class="icon icon-left ion-ios-arrow-back button button-clear"></button>
        </a>
        <h1 class="title">CF Treatments</h1>
        <i class="icon icon-right ion-ios-information-empty button button-clear"></i>
    </ion-header-bar>
    <ion-content>
        <div class="cf-meds">
            <img src="/img/meds.jpg" alt="">
        </div>

        <div class="cf-info-text">
            <p>
                CF patients daily medication include taking 40 to 50 pills, inhalation treatments, airway clearance sessions. Besides the daily treatments it also includes removing sticky mucus from the lungs, treating blockages in intestine, taking nutritious foods and exercising. In addition to their treatments it is essential to self-manage their conditions.
            </p>
        </div>



    </ion-content>

</ion-pane>